/* Estilos generales */
body {
    background-color: #000;
    color: #00ff00;
    font-family: "Press Start 2P", cursive;
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Añadimos overflow: hidden para asegurar que la imagen no se desborde */
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen se ajustará para cubrir todo el contenedor */
    z-index: -1; /* Colocamos la imagen detrás de los demás elementos */
}

.texto {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    line-height: 1;
    background-color: #000;
    color: #00ff00;
}

.texto::placeholder {
    color: #00ff00;
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.terminos p {
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    line-height: 150%;
    color: #00ff00;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn-encriptar,
.btn-desencriptar {
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    gap: 8px;
    width: 25%;
    background-color: #0a3871;
    border: 1px solid #00ff00;
    border-radius: 8px;
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #00ff00;
}

.btn-desencriptar {
    box-sizing: border-box;
}

.btn-desencriptar:hover,
.btn-encriptar:hover {
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #000;
    border: 1px solid #00ff00;
    border-radius: 8px;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 60%;
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #00ff00;
}

.mensaje-encriptado p {
    width: 80%;
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    line-height: 150%;
    text-align: center;
    color: #00ff00;
}

/* Responsive design */
@media (max-width: 57.5em) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .encriptar {
        width: 100%;
    }

    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;
    }
.terminos p{
    width: 300px;
}
    .botones {
        width: 80%;
        left: 10%;
        top: 72%;
    }

    .btn-encriptar,
    .btn-desencriptar {
        width: 70%;
        border-radius: 16px;
        font-size: 10px;
    }

    .btn-encriptar:hover,
    .btn-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .encriptado {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }
}
@media (max-width: 767px) {
    .mensaje-encriptado {
        top: 0%; /* Ajusta la posición en pantallas más pequeñas */
    }

    .mensaje-encriptado h2 {
        font-size: 12px; /* Reduce el tamaño del h2 en pantallas más pequeñas */
    }

    .mensaje-encriptado p {
        font-size: 8px; /* Reduce el tamaño del párrafo en pantallas más pequeñas */
    }
}